.form-group .form-control {
    padding: 10px;
    margin:10px;
}
.form-group .form-control label{
    margin-right: 20px;
}
.form-group .form-control button {
    background-color: rgb(152, 95, 193);
    margin: 10px 20px;
    padding: 10px;
}